/* ===== Avatar Wrapper ===== */
.am-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* ===== Login Button ===== */
.am-login-btn {
  background: #FF4172;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 999px;
  color: #ffffff;
  background-color: #FF4172;
  width: fit-content;
  padding: 5px 20px;
  font-size: 15px;
}

.am-login-btn:hover {
  background: white;
  color: black;
}

/* ===== Avatar Circle ===== */
.am-avatar-circle {
  width: 32.5px;
  height: 32.5px;
  border-radius: 50%;
  background: #FF4172;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  padding: 0px;
}

.am-avatar-img {
  border-radius: 100%;
}

/* Initials */
.am-avatar-initials {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

/* ===== Dropdown Menu ===== */
.am-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 230px;
  background: #000000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 8px 0;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.am-dropdown-header {
  padding: 10px 16px;
  color: #a3a3a3;
  border-bottom: 1px solid #333;
  font-size: 14px;
}

.am-dropdown-header p {
  font-size: 14px;
  color: #a3a3a3;
  margin-top: 5px;
}

/* Dropdown items */
.am-dropdown-item {
  padding: 5.25px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.am-dropdown-item svg, .am-dropdown-item img {
  width: 16px;
  height: 16px;
}

.am-dropdown-item:hover {
  background: #292929;
}

.am-dropdown-item-bottom-border {
  border-bottom: 1px solid #333;
  margin-bottom: 5px;
}

/* Logout */
.am-logout {
  color: #ff4d4d !important;
}